h1{
    font-size: xx-large;
    color: brown;
}
footer{
    color: cyan;
    font-style: italic;
}
header{
    color: darkviolet;
    font-size: medium;
}
.blog{
    color: chartreuse;
    font-style: italic;
}
body{
    height: 100vh;
    background-color: black;
    color: white;
}
.principal{
    display: flex;
    justify-content: space-between;
}