@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

body {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}



strong {
    color: #22D4FD;
}

* {
    box-sizing: border-box;
}

.posicionamento {
    display: flex;
    flex-direction: row;
    /*Padrão*/
    justify-content: space-around;
    /* margin: 10%; */
}

/* .posicionamento__blocos {} */

.posicionamento__blocos__titulo {
    /* height: ; */
    /* width */
    font-family: 'Krona One', sans-serif;
    line-height: 56px;
    font-size: 36px;
    height: 168px;
    width: 593px;
}

.posicionamento__blocos__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 36px;
    height: 144px;
    width: 593px;
}

.posicionamento__blocos__botao {
    height: 64px;
    width: 584px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 10%;  */
}
.a{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 24px;
    line-height: 36px;
    width: 136;
    height: 36;
}
.button{
    background-color: #22D4FD;
    height: 64px;
    width: 280px;
} 