strong{
    color: #22D4FD;
}
body{
    box-sizing: border-box;
    background-color: black;
    color: white;
}
a{
    font-size: xx-large;
    color: black;
}
button{
    background-color: #22D4FD;
}
.alinhamento-cetral{
    display: flex;
    align-items: center;
}
