*{ 
    margin: 0;
    padding: 0;
}
.urgente{
    color:red;
}
body{
    box-sizing: border-box;/* limita imagens de ultrapassarem o tamanho máximo disponível em relação ao elemento paiProperties for the Parent*/
    background-color: darkgoldenrod;
    color: azure;
    height: 100vh;/* aplica e ajusta o tamanho da página conforme o espaço disponível*/
}
h1{
    color:black;
}
footer{
    margin: 34px;/*margem da estrutura*/
    padding: 25px;/*controla o espaço entre o conteúdo e as bordas*/
    color: blue;
}
.entre-espacos{
    display: flex;
    align-items: center;
}